body{
    text-align: center;
    background-color: black;
    color: white;
    width: 80%;
    margin: auto;
}

/* general */

section{
    padding: 50px 30px;
}

h1, h2{
    font-size: 50px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* hero */

.hero-container{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.hero-image{
    width: 700px;
    border-radius: 1000px;
    padding: 15px;
    border: 1px white dotted;
}

.hero-text-container{
text-align: center;
padding: 50px 30px;
}

.hero p{
    font-size: 18px;
}

/* roles */

.roles-container{
    display: flex;
    justify-content: space-around;
}

/*fun stats*/

.fun-stats-container{
    display: flex;
    justify-content: space-around;
}

.fun-stats-headline{
    font-size: 50px;
}

 .fun-stats-image{
    border-radius: 50px;
    border: 1px white dotted;
    padding: 15px;
}

.fun-figures-container{
    display: flex;
    justify-content: space-around;
}

.fun-figure-block{
    width: 100px;
}

.fun-figure{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px;
}

/* fun-facts */
.fun-facts-container{
    display: flex;
    justify-content: space-around;
}

.fun-fact-card{
    border: 1px solid white;
    border-radius: 100px;
    padding: 20px;
    margin-right: 10px;
    background-color: grey;
}

.fun-fact-card:hover{
    background-color: orange;
    color: black;
}

.fun-fact-headline{
font-size: 20px;
}