:root{
    --headline-font: 'Martel', serif;
    --headline-font-2: 'Fredericka the Great', cursive;
    --main-font-2:'Raleway', sans-serif;
    --main-font: 'Roboto', sans-serif;
    --main-font-color: rgb(101, 52, 6);
    --section-background-color-1: rgba(242, 240, 332, 0.6);
    --section-background-color-2:rgba(228, 181, 137, 0.6);
}

body{
    text-align: center;
    background: url(images/background.jpg);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    color: var(--main-font-color);
    margin: auto;
    font-family: var(--main-font);
    font-size: 14px;
}

/* general */

section{
    padding: 50px 30px;
}

h1, h2{
    font-family: var(--headline-font-2);
    font-weight: 400;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 50px;
}

h3{
    font-family: var(--headline-font-2);
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* header */
header{
    height: 30px;
    background-color: grey;
}

/* hero */

.hero{
    background-color: var(--section-background-color-1);
}

.hero-container{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.hero-image{
    width: 700px;
    border-radius: 1000px;
    padding: 15px;
    border: 1px white dotted;
}

.hero-text-container{
text-align: center;
padding: 50px 30px;
}

.hero p{
    font-size: 18px;
}

/* roles */

.roles{
    background-color: var(--section-background-color-2);
}

.roles-container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}

.role-card{
    margin-bottom: 25px;
}

.role-image{
    width: 250px;
    border-radius: 150px;
    padding: 10px;
    border: 1px white dotted;
    margin:5px;
    transition:400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.role-image:hover{
    width: 400px;
    border-radius: 250px;
}

.role-description{
    font-size: 16px;
    text-transform: uppercase;
    margin: 5px 0;
    font-family: var(--headline-font-2);
}

/*fun stats*/

.fun-stats{
    background-color: var(--section-background-color-1);
}

.fun-stats-container{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.fun-stats-headline{
    font-size: 50px;
}

 .fun-stats-image{
    width: 400px;
    border-radius: 50px;
    border: 1px white dotted;
    padding: 15px;
    margin-right: 40px;
}

.fun-figures-container{
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fun-figure-block{
    width: 100px;
    margin: 15px;
    margin-bottom: 30px;
}

 .fun-figure{
    font-family: var(--headline-font-2);
    font-size: 30px;
    font-weight: 400;
    margin: 5px;}

/* fun-facts */
.fun-facts-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fun-fact-card{
    border: 1px solid white;
    border-radius: 100px;
    padding: 20px;
    margin-right: 20px;
    background-color: grey;
}

.fun-fact-card:nth-child(3n){
    margin-right: 0px;
}

.fun-fact-card:hover{
    background-color: white;
    color: black;
}

.fun-fact-headline{
font-size: 20px;
}

.red, .orange, .green, .yellow{
    transition:400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.red:hover{
    background-color: rgb(169, 36, 36);
    color: white;
}

.orange:hover{
    background-color: orange;
    color: white;
}

.yellow:hover{
    background-color: rgb(198, 171, 20);
    color: white;
}

.green:hover{
    background-color: rgb(107, 143, 53);
    color: white;
}

/* reviews */

.review-container{
    display: flex;
    justify-content: space-around;
}

.review-card{
    width: 270px;
    background-color: white;
    color: black;
    border-radius: 10px;
    border: grey 1px solid;
    margin-right: 15px;
    padding: 5px;
    /* box-shadow: ; */
}

/* footer */

footer{
    background-color: lightcoral;
    padding: 100px;
}